$sidePanel: #58605F;
$navigation: #58605F;
$header: #4a4a49;
$columnText: #646464;
$button: #FF6600;
$screenHeader: #FF6600;
$highlight: #FF6600;
$screenHeaderBackground: #e3e3e3;
$infoMessage: #3498DB;
$warningMessage: #FFB03B;
$successMessage: #468966;
$binColor: #BD4932;
$rowText: #A1A194;
$addedFuncIcon: #A1A194;