.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 450px;
  background-color: $screenHeaderBackground;
  color: $header;

  .feature__box {
    width: 250px;
    text-align: center;

    .feature__img {
      height: 80px;
    }

    .feature__tittle {
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      margin: 20px 0;
    }

    .feature__description {
      line-height: 18px;
    }
  }
}