

.recipe__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #A1A194;

  h1 {
    text-transform: uppercase;
    color: $screenHeader;
    font-weight: bold;
    font-size: 30px;
  }

  .add_recipe__summary-btn {
    height: 30px;
    width: 30px;
    border: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    background-color: #468966;
    cursor: pointer;

    a{
      text-decoration: none;
      color: white;
    }

  }
}

.recipe_description {
  width: 100%;
  display: inline-flex;
  border-bottom: 2px dashed #A1A194;


  h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: $header;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: $header;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
  }

  h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: $header;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 93px;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $header;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 633px;
  }
}

.recipes_list {
  width: 100%;

  table {
    width: 100%;
  }
}

.table {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

}


#id{
  width: 58px;
  color: #ABAB9F;

}
#title{
  margin-left: 20px;
  width: 167px;
  word-break: break-all;
  word-wrap: normal;
  color: #ABAB9F;

}
#instruction{
  margin-left: 20px;
  width: 666px;
  word-break: break-all;
  word-wrap: normal;
  color: #ABAB9F;
}

svg{
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
  }
